
.account-login, #admin-dashboard {
	visibility: hidden;
}


/*MAP STYLING*/
.map-container {
	width: 100%;
	height: calc(100vh - 55px);
}

 #map {
 	height: 100%;
	width: 100%;
}

.material-icons.md-dark { 
	color: rgba(0, 0, 0, 0.54); 
}



.map-control {
	background-color: #fff;
	display: none;  /*Hide control before map loads*/
}

#destination-input {
	background-color: #fff;
	height: 4vh;
	border: 1px solid;
	border-style: inset;
	border-color: #d3d3d3; 
}

#map .map-control {
	display: block;
}

#directions-panel {
	padding: 2px;
	overflow: scroll;
	max-height: 90%;
	
}

#directions-selector {
	margin-top: 0.5vh;
	width: 45vw;
	z-index: 5;
}

#layer-selector-control{
	margin-top: 0.5vh;
}

#show-directions-control {
	margin-left: 0.5vh;
}

/*End of map styling*/


/*ALERT STYLING*/
/*.container {
	width: 100%;
	height: 100%;
	margin-top: 20px;
}*/
b {
	overflow: hidden;
}

.alert-container {
	width: 60%;
	padding: 10px;
	position: relative;
	margin: auto;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	margin-top: 10px;
	margin-bottom: 10px;
}

span.details {
	font-size: 10px;
}

.alert-footer{
	padding-bottom: 10px;
}
/*End of alert styling*/

/* DASHBOARD STYLING*/
#myChart {
	width: 50%;
	height: inherit;
}


/*End of dashboard styling*/